.dialogItem {
    padding: 2%;
    /*margin-top: 3%;*/
    display: grid;
    grid-template-areas: "img uN" "img uM";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;

    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background-color: white;
    border-radius: 5px;

}






.ava {
    grid-area: img;
    align-self: center;
    justify-self: center;

}

.userName {
    grid-area: uN;
    color: black;


}

.userMessage {
    grid-area: uM;
    color:black;
}

.navlink {
    text-decoration: none;
}


