.allMessages {
    height: 700px;

    padding:10px;
    /*margin: 10px;*/
    border-radius: 5px;

    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}



/*.sendButton {
    width: 100px;
    flex-direction: row-reverse;
}*/

.sendMessageField {
    width:100%;
}