.nav {
    grid-area: n;
    background-color: black;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.item {
    color: white;
    margin-top: 5%;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

@media (max-width: 575px) {
    .sideBar {
        position: fixed;
        z-index: 222;
    }
}

